# Flask Web Framework
Flask==3.0.3
python-dotenv==1.0.1
humanize==4.12.3

# Emailing with SendGrid
sendgrid==6.12.4

# Google Drive API
google-api-python-client==2.142.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2